### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.cache
.pytest_cache/
.ruff_cache/

# Environments
.env
.venv
env/
venv/
ENV/

### VirtualEnv template
pyvenv.cfg

### JetBrains template (PyCharm)
# By default, the entire .idea directory is ignored, except for the shared configuration folders
!.idea/
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/vcs.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.local.xml

# CMake / Local environments
cmake-build-*/
.idea/caches/
